[popover], [popovertarget] {
  outline: inherit;
  background: inherit;
  border: inherit;
  padding: 0;
  overflow: visible;
}

:host(:not([shown])) [popover] {
  opacity: 0;
  pointer-events: none;
}

[popovertarget] {
  margin: 0;
  width: 100%;
  font-size: inherit;
  text-align: inherit;
  font: inherit;
  line-height: inherit;
}

:host([behavior$="-fullscreen"]) {
  [popover] {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}