.popover, .popover-trigger {
  outline: inherit;
  background: inherit;
  border: inherit;
  padding: 0;
  overflow: visible;
}

:host(:not([shown])) .popover {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.popover {
  .popover-arrow {
    position: absolute;

    &.direction-down {
      bottom: 0;
      transform: translateY(100%);
    }

    &.direction-up {
      top: 0;
      transform: translateY(-100%);
    }

    &.direction-left {
      left: 0;
      transform: translateX(-100%);
    }

    &.direction-right {
      right: 0;
      transform: translateX(100%);
    }
  }
}

.popover-trigger {
  margin: 0;
  width: fit-content;
  font-size: inherit;
  text-align: inherit;
  font: inherit;

  // This nullifies the height added by line-height
  display: inline-flex;
}

:host([behavior$="-fullscreen"]) {
  [popover] {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
